h1{
    position: absolute;
    margin-left: 150px;
}
.container{
margin-top:- 80;
margin-left: 40px;

}
a{
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
form{
    padding-top: 40px; 
    height: 20px; 
    word-spacing: 170px;
}
footer{
    margin-top: 530px;

}